@import "../../../components/colors.scss";
@import "../../../components/mixins.scss";

.copy-deck-button {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.4rem 0.6rem;
    color: $color-1;
    border: 2px solid $color-1;
    margin: 0 0.4rem;
    width: 10.25rem;

    &.deck-copied {
        opacity: 0.3;
    }
}
