@import "../../../components/colors.scss";
@import "../../../components/mixins.scss";

.picks-row {
    display: inline-flex;
    justify-content: flex-start;
    width: 98%;
    margin: 0.5%;
    padding: 0.5%;
    background-color: scale-color($color-1, $alpha: -80%);
    border-radius: 0.7rem;

    .column {
        position: relative;
        width: 12.3%;
        margin-right: 0.2285%;
        // height: Set in JavaScript
        // top: Set in JavaScript
        &:nth-child(8n) {
            margin-right: 0;
        }

        div.card {
            position: absolute;
            // height: Set in JavaScript
            // top: Set in JavaScript
            left: 0;
            width: 100%;

            &:hover {
                z-index: 1;
            }

            img {
                pointer-events: none;
                width: 100%;
            }
        }
    }
}
