$name-bar-height-to-card-width-ratio: 0.155;

.picks-card-wrapper {
    position: relative;
    padding-bottom: 100% * $name-bar-height-to-card-width-ratio;
    touch-action: none;
    .card-image {
        position: absolute;
        left: 0;
    }
}

.card-image.sortable {
    width: 100%;
}