@import "../../components/responsive.scss";
@import "../../components/colors.scss";
@import "../../components/navBar/navBar.scss";

.single-draft-page {
    @include navBarPageTopPadding;
    @include container;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    padding-bottom: 0.5rem;
    position: relative;

    h1 {
        text-align: center;
        font-weight: 700;
        font-size: 1.4rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}