@import "../../../components/responsive.scss";
@import "../../../components/mixins.scss";
@import "../../../components/navBars/TerraNavBar.scss";

.print-and-play-page {
    -webkit-print-color-adjust: exact !important;
    line-height: 0;
    background-color: black;

    .card-image {
        width: 62mm;
    }
}
