@import "../../components/responsive.scss";
@import "../../components/colors.scss";
@import "../../components/mixins.scss";
@import "../../components/navBars/TerraNavBar.scss";

.darkham-page {
    @include blurred-page-background(0.3);

    .container {
        @include container;
        line-height: 1.2;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        padding-bottom: 0.5rem;
        position: relative;
        color: $color-1;
    }
}