@import "../../components/responsive.scss";
@import "../../components/colors.scss";
@import "../../components/mixins.scss";
@import "../../components/navBars/MainNavBar.scss";

.home-page {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    @include pageHeightMinusMainNavBar;

    .tile {
        @include blurred-background-image;
        @include responsive(min-height, calc((100vh - #{$main-navbar-small-height}) / 2), auto);
        @include responsive(width, 100vw, auto);
        flex-grow: 1;
        justify-content: center;
        position: relative;
        background-color: $color-2;
        display: flex;
        align-items: center;
    }

    .content {
        position: relative;
        max-width: 480px;
        margin: 2.8rem;
        line-height: 1.2;

        h1 {
            font-weight: 700;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        p {
            font-style: italic;
            margin-bottom: 0.5rem;

            &.link {
                margin-top: 1.2rem;
            }

            em {
                font-style: normal;
            }

            a {
                font-style: normal;
                font-weight: 600;
            }
        }
    }

    .terra {
        color: $color-3-light;

        h1 a {
            @include underlining-link($color-3-light);
        }

        p a {
            @include inverting-link($color-3-light);
        }
    }

    .darkham {
        color: $color-4-light;

        h1 a {
            @include underlining-link($color-4-light);
        }

        p a {
            @include inverting-link($color-4-light);
        }
    }
}
