@import "../../components/responsive.scss";
@import "../../components/colors.scss";
@import "../../components/navBars/MainNavBar.scss";

.home-page {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    @include responsive(height, auto, calc(100vh - #{$main-navbar-medium-height}), calc(100vh - #{$main-navbar-large-height}));

    .tile {
        @include responsive(min-height, calc((100vh - #{$main-navbar-small-height}) / 2), auto);
        @include responsive(width, 100vw, auto);
        flex-grow: 1;
        justify-content: center;
        position: relative;
        background-color: $color-1;
        display: flex;
        align-items: center;
    }

    .splash {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: $color-1;

        .splashImage {
            margin: -6px;
            width: calc(100% + 12px);
            height: calc(100% + 12px);
            object-fit: cover;
            filter: blur(4px) brightness(0.4);
        }
    }

    .content {
        position: relative;
        max-width: 480px;
        margin: 2.8rem;
        line-height: 1.2;

        h1 {
            font-weight: 700;
            font-size: 1.5rem;
            margin-bottom: 1rem;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        p {
            font-style: italic;
            font-weight: 200;
            margin-bottom: 0.5rem;

            &.link {
                margin-top: 1.2rem;
            }

            em {
                font-style: normal;
            }

            a {
                font-style: normal;
                font-weight: 600;
                text-decoration: none;
                padding: 0.3rem;
            }
        }
    }

    .terra {
        color: $color-3-light;

        a {
            color: $color-3-light;
        }

        p a:hover {
            background-color: $color-3-light;
            color: $color-1;
        }
    }

    .darkham {
        color: $color-4-light;

        a {
            color: $color-4-light;
        }

        p a:hover {
            background-color: $color-4-light;
            color: $color-1;
        }
    }
}