@import "../../components/responsive.scss";
@import "../../components/colors.scss";
@import "../../components/mixins.scss";
@import "../../components/navBars/MainNavBar.scss";

.home-page {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    @include pageHeightMinusMainNavBar;

    .tile {
        @include blurred-background-image;
        @include responsive(min-height, calc((100vh - #{$main-navbar-small-height}) / 2), auto);
        @include responsive(width, 100vw, auto);
        min-width: 40vw;
        flex-grow: 1;
        justify-content: center;
        position: relative;
        background-color: $color-2;
        display: flex;
        align-items: center;
    }

    .content {
        position: relative;
        max-width: 480px;
        margin: 2.8rem;
        line-height: 1.2;
    }

    h1 {
        font-weight: 600;
        font-size: 0.8rem;
    }

    h2 {
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-style: italic;
        margin-bottom: 0.5rem;

        &.link {
            margin-top: 1.2rem;
        }

        em {
            font-style: normal;
        }

        a {
            font-style: normal;
            font-weight: 600;
        }
    }

    .stc {
        color: $color-3-light;

        h1 {
            color: scale-color($color-3-light, $alpha: -30%);
        }

        h2 a {
            @include underlining-link($color-3-light);
        }

        p a {
            @include inverting-link($color-3-light);
        }
    }

    .twoa {
        color: $color-6-light;

        h1 {
            color: scale-color($color-6-light, $alpha: -30%);
        }

        h2 a {
            @include underlining-link($color-6-light);
        }

        p a {
            @include inverting-link($color-6-light);
        }
    }

    .darkham {
        color: $color-4-light;

        h1 {
            color: scale-color($color-4-light, $alpha: -30%);
        }

        h2 a {
            @include underlining-link($color-4-light);
        }

        p a {
            @include inverting-link($color-4-light);
        }
    }

    .about {
        color: $color-5-light;

        h1 {
            color: scale-color($color-5-light, $alpha: -30%);
        }

        h2 a {
            @include underlining-link($color-5-light);
        }

        p {
            font-style: normal;
            a {
                @include inverting-link($color-5-light);
            }
        }
    }
}
