@import "../colors.scss";
@import "../mixins.scss";
@import "../responsive.scss";

$smallest-screen-width: 380px;
$smaller-screen-width: 596px;
$main-navbar-smallest-height: 9.05rem;
$main-navbar-smaller-height: 5.65rem;
$main-navbar-small-height: 3.9rem;
$main-navbar-medium-height: 3.9rem;
$main-navbar-large-height: 3rem;

@mixin pageHeightMinusMainNavBar {
    @include responsive(
        min-height,
        calc(100vh - #{$main-navbar-small-height}),
        calc(100vh - #{$main-navbar-medium-height}),
        calc(100vh - #{$main-navbar-large-height})
    );
    @media (max-width: $smaller-screen-width) {
        min-height: calc(100vh - #{$main-navbar-smaller-height});
    }
    @media (max-width: $smallest-screen-width) {
        min-height: calc(100vh - #{$main-navbar-smallest-height});
    }
}

.main-nav-bar {
    position: relative;
    @include responsive(height, $main-navbar-small-height, $main-navbar-medium-height, $main-navbar-large-height);
    @media (max-width: $smaller-screen-width) {
        height: $main-navbar-smaller-height;
    }
    @media (max-width: $smallest-screen-width) {
        height: $main-navbar-smallest-height;
    }
    @include blurred-background-image(0.2);

    ul {
        position: relative;
        display: flex;
        @include container;
        @include responsive(flex-wrap, wrap, wrap, nowrap);
        @media (max-width: $smallest-screen-width) {
            flex-direction: column;
        }
    }

    li {
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    .home {
        flex-grow: 1;
        @include responsive(width, 100%, 100%, auto);

        svg {
            position: absolute;
            fill: white;
            height: 1.8rem;
            width: 1.8rem;
            top: 50%;
            transform: translateY(-50%);
            left: 0.5rem;
        }

        a {
            position: relative;
            color: $color-1;
            font-weight: 700;
            font-size: 1.2rem;
            height: 100%;
            @include responsive(padding, 0.5rem 0.5rem 0.5rem 2.7rem, 0.5rem 0.5rem 0.5rem 2.7rem, 0.9rem 0.8rem 0.9rem 2.8rem);
        }
    }

    li:not(.home) a {
        position: relative;
        font-weight: 500;
        text-transform: uppercase;
        @include responsive(font-size, 0.7rem, 0.7rem, 0.8rem);
        @include responsive(padding, 0.5rem 0.5rem, 0.5rem 0.5rem, 1.1rem 0.8rem);
    }

    a.is-current-page::after,
    li:not(.home) a:hover::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-3px);
        border-bottom-width: 4px;
        border-bottom-style: solid;
    }

    .stc a {
        color: $color-3-light;

        &::after {
            border-bottom-color: $color-3-light;
        }
    }

    .twoa a {
        color: $color-6-light;
        @media (max-width: $smaller-screen-width) {
            margin-right: calc(100vw - 19rem);
        }
        @media (max-width: $smallest-screen-width) {
            margin-right: 0;
        }

        &::after {
            border-bottom-color: $color-6-light;
        }
    }

    .darkham a {
        color: $color-4-light;

        &::after {
            border-bottom-color: $color-4-light;
        }
    }

    .about a {
        color: $color-5-light;

        &::after {
            border-bottom-color: $color-5-light;
        }
    }
}
