@import "../colors.scss";
@import "../mixins.scss";
@import "../responsive.scss";

$main-navbar-small-height: 4rem;
$main-navbar-medium-height: 3rem;
$main-navbar-large-height: 3rem;

@mixin pageHeightMinusMainNavBar {
    @include responsive(
        min-height,
        calc(100vh - #{$main-navbar-small-height}),
        calc(100vh - #{$main-navbar-medium-height}),
        calc(100vh - #{$main-navbar-large-height})
    );
}

.main-nav-bar {
    position: relative;
    @include responsive(height, $main-navbar-small-height, $main-navbar-medium-height, $main-navbar-large-height);
    @include blurred-background-image(0.2);

    ul {
        position: relative;
        display: flex;
        @include container;
        @include responsive(flex-wrap, wrap, wrap, nowrap);
    }

    li {
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    .home {
        flex-grow: 1;
        @include responsive(width, 100%, auto);

        svg {
            position: absolute;
            fill: white;
            height: 1.8rem;
            width: 1.8rem;
            top: 50%;
            transform: translateY(-50%);
            left: 0.5rem;
        }

        a {
            position: relative;
            color: $color-1;
            font-weight: 700;
            font-size: 1.2rem;
            height: 100%;
            @include responsive(
                padding,
                0.5rem 0.5rem 0.5rem 2.7rem,
                0.9rem 0.8rem 0.9rem 2.8rem
            );
        }
    }

    li:not(.home) a {
        position: relative;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 0.8rem;
        @include responsive(padding, 0.5rem 0.5rem, 1.1rem 0.8rem);
    }

    a.is-current-page::after,
    li:not(.home) a:hover::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-3px);
        border-bottom-width: 4px;
        border-bottom-style: solid;
    }

    .terra a {
        color: $color-3-light;

        &::after {
            border-bottom-color: $color-3-light;
        }
    }

    .darkham a {
        color: $color-4-light;

        &::after {
            border-bottom-color: $color-4-light;
        }
    }
}
