@import "../colors.scss";
@import "../mixins.scss";
@import "../responsive.scss";

$small-main-navbar-height: 1.5rem;

.small-main-nav-bar {
    position: relative;
    height: $small-main-navbar-height;
    @include blurred-background-image(0.2);

    ul {
        position: relative;
        display: flex;
        @include container;
    }

    li {
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    .home {
        flex-grow: 1;

        svg {
            position: absolute;
            fill: white;
            height: 0.9rem;
            width: 0.9rem;
            top: 50%;
            transform: translateY(-50%);
            left: 0.5rem;
        }

        a {
            position: relative;
            color: $color-1;
            font-weight: 700;
            font-size: 0.7rem;
            height: 100%;
            padding: 0.45rem 0.4rem 0.45rem 1.65rem;
        }
    }

    li:not(.home) a {
        position: relative;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 0.7rem;
        padding: 0.4rem 0.4rem;

        &.abbreviated {
            display: none;
        }
        @media (max-width: 405px) {
            &:not(.abbreviated) {
                display: none;
            }
            &.abbreviated {
                display: inline;
            }
        }
    }

    a.is-current-page::after,
    li:not(.home) a:hover::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-3px);
        border-bottom-width: 4px;
        border-bottom-style: solid;
    }

    .stc a {
        color: $color-3-light;

        &::after {
            border-bottom-color: $color-3-light;
        }
    }

    .darkham a {
        color: $color-4-light;

        &::after {
            border-bottom-color: $color-4-light;
        }
    }
}
