@import "../colors.scss";
@import "../mixins.scss";
@import "../responsive.scss";
@import "../zindex.scss";

$stc-navbar-small-height: 1.7rem;
$stc-navbar-medium-height: 1.7rem;
$stc-navbar-large-height: 2rem;

.stc-nav-bar {
    position: absolute;
    margin-top: 0.2rem;
    width: 100%;
    z-index: $z-index-sub-nav-bar;
    @include responsive(padding-left, 0.2rem, 0);

    ul {
        position: relative;
        display: flex;
        @include responsive(justify-content, flex-start, flex-start, flex-end);
        @include container;
        @include responsive(flex-wrap, wrap, wrap, nowrap);
    }

    li {
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    li a {
        position: relative;
        font-weight: 400;
        @include responsive(font-size, 0.7rem, 0.7rem, 0.75rem);
        color: $color-1;
        @include responsive(padding, 0.4rem 0.4rem, 0.4rem 0.4rem, 0.5rem 0.5rem);
    }

    li.is-current-page a::after,
    li a:hover::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-2px);
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }

    .stc-home {
        svg {
            position: absolute;
            @include responsive(height, 0.99rem, 0.99rem, 1.08rem);
            @include responsive(width, 1.375rem, 1.375rem, 1.5rem);
            top: 50%;
            transform: translateY(-55%);
            left: 0.3rem;
        }

        a {
            position: relative;
            @include responsive(padding, 0.75rem 1rem, 0.75rem 1rem, 0.9rem 1.05rem);

            span {
                display: none;
            }
        }
    }
}
