@import "../colors.scss";
@import "../mixins.scss";
@import "../responsive.scss";
@import "../zindex.scss";

$sub-navbar-small-height: 1.7rem;
$sub-navbar-medium-height: 1.7rem;
$sub-navbar-large-height: 2rem;

.sub-nav-bar {
    position: absolute;
    margin-top: 0.2rem;
    width: 100%;
    z-index: $z-index-sub-nav-bar;
    @include responsive(padding-left, 0.2rem, 0);

    ul {
        position: relative;
        display: flex;
        @include responsive(justify-content, flex-start, flex-start, flex-end);
        @include container;
        @include responsive(flex-wrap, wrap, wrap, nowrap);
    }

    li {
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    li a {
        position: relative;
        font-weight: 400;
        @include responsive(font-size, 0.7rem, 0.7rem, 0.75rem);
        color: $color-1;
        @include responsive(padding, 0.4rem 0.4rem, 0.4rem 0.4rem, 0.5rem 0.5rem);
    }

    li.is-current-page a::after,
    li a:hover::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-2px);
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }
}
