@import "../../../components/responsive.scss";
@import "../../../components/colors.scss";
@import "../../../components/mixins.scss";
@import "../../../components/navBars/SubNavBar.scss";

.twoa-card-image-gallery {
    @include blurred-page-background(0.25);

    .container {
        @include container;
        line-height: 1.2;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        padding-bottom: 0.5rem;
        position: relative;
        color: $color-1;
        @include responsive(padding-top, $sub-navbar-small-height, $sub-navbar-medium-height, $sub-navbar-large-height);
    }

    h1 {
        text-align: center;
        margin-bottom: 1.2rem;
    }

    .investigators {
        .investigators-grid {
            text-align: center;
            
            .card-lazy-wrapper {
                @media (max-width: 659px) {
                    width: 100%;
                    padding-bottom: 100% * (1 / $card-height-width-ratio);
                    margin-right: 0;
                    margin-bottom: 1.5%;
                }
                @media (min-width: 660px) {
                    width: 49.25%;
                    padding-bottom: 49.25% * (1 / $card-height-width-ratio);
                    margin-right: 1.5%;
                    margin-bottom: 1.5%;
                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                }
            }

            .card-image {
                @include landscape-card-image-corners;
            }
        }
        .card-grid {
            text-align: center;

            .card-lazy-wrapper {
                @media (max-width: 659px) {
                    margin-right: 1.5%;
                    margin-bottom: 1.5%;
                }
                @media (min-width: 660px) {
                    margin-right: 1.5%;
                    margin-bottom: 1.5%;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .card-grid {
        .card-lazy-wrapper {
            @media (max-width: 659px) {
                width: 49.25%;
                padding-bottom: 49.25% * $card-height-width-ratio;
                margin-right: 1.5%;
                margin-bottom: 1.5%;
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
            @media (min-width: 660px) {
                width: 32.75%;
                padding-bottom: 32.75% * $card-height-width-ratio;
                margin-right: 0.875%;
                margin-bottom: 0.875%;
                &:nth-child(2n+1):last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
