@import "../../../components/responsive.scss";
@import "../../../components/mixins.scss";

$name-bar-height-to-card-width-ratio: 0.16;

$tiny-card: 46.8vw;
$small-card: 31.1vw;
$medium-card: 23.32vw;
$large-card: 18.67vw;
$huge-card: 15.61vw;
$enormous-card: 13.4vw;

@mixin draft-responsive($property, $tiny, $small, $medium, $large, $huge, $enormous) {
    @media (max-width: 541px) {
        #{$property}: $tiny;
    }
    @media (min-width: 542px) and (max-width: 724px) {
        #{$property}: $small;
    }
    @media (min-width: 725px) and (max-width: 909px) {
        #{$property}: $medium;
    }
    @media (min-width: 910px) and (max-width: 1079px) {
        #{$property}: $large;
    }
    @media (min-width: 1080px) and (max-width: 1279px) {
        #{$property}: $huge;
    }
    @media (min-width: 1280px) {
        #{$property}: $enormous;
    }
}

@mixin card-width {
    @include card-relative-responsive(width);
}

@mixin card-width-zoom {
    @include card-relative-responsive(width, 1.5);
}

@mixin card-dnd-wrapper {
    position: relative;
    @include card-relative-responsive(padding-bottom, $name-bar-height-to-card-width-ratio);
    touch-action: none;
    .card-image {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &:focus {
        outline: none;
    }
}

@mixin draft-grid {
    display: grid;
    @include draft-responsive(gap, 0.8vw, 0.6vw, 0.5vw, 0.4vw, 0.3vw, 0.2vw);
}

@mixin booster-grid {
    @include draft-responsive(
        grid-template-columns,
        repeat(2, $tiny-card),
        repeat(3, $small-card),
        repeat(4, $medium-card),
        repeat(5, $large-card),
        repeat(6, $huge-card),
        repeat(7, $enormous-card)
    );
    justify-content: center;
    .booster-card-container {
        @include card-relative-responsive(
            margin-bottom,
            $card-height-width-ratio - $name-bar-height-to-card-width-ratio
        );
    }
}

@mixin picks-grid {
    grid-auto-flow: column;
    @include draft-responsive(justify-content, start, start, start, start, start, center);
    @include card-relative-responsive(grid-auto-columns);
}

@mixin picks-columns {
    @include card-relative-responsive(padding-bottom, $card-height-width-ratio - $name-bar-height-to-card-width-ratio);
    @include card-relative-responsive(min-height, $card-height-width-ratio);
}

@mixin card-relative-responsive($property, $factor: 1) {
    @include draft-responsive(
        $property,
        $tiny-card * $factor,
        $small-card * $factor,
        $medium-card * $factor,
        $large-card * $factor,
        $huge-card * $factor,
        $enormous-card * $factor
    );
}
