@import "../../../../components/responsive.scss";
@import "../../../../components/mixins.scss";

@mixin card-responsive($tiny, $small, $medium, $large, $very-large, $super-large) {
    @media (max-width: 659px) {
        padding-bottom: calc(#{$tiny} - 2px);
    }
    @media (min-width: 660px) and (max-width: 919px) {
        padding-bottom: calc(#{$small} - 2px);
    }
    @media (min-width: 920px) and (max-width: 1223px) {
        padding-bottom: calc(#{$medium} - 2px);
    }
    @media (min-width: 1223px) and (max-width: 1535px) {
        padding-bottom: calc(#{$large} - 2px);
    }
    @media (min-width: 1536px) and (max-width: 1839px) {
        padding-bottom: calc(#{$very-large} - 2px);
    }
    @media (min-width: 1840px) {
        padding-bottom: calc(#{$super-large} - 2px);
    }
}

@mixin match-booster-height-loading-div {

    &.cards-1 {
        @include card-responsive(68.779%, 45.614%, 34.136%, 27.263%, 22.698%, 19.461%);
    }
    &.cards-2 {
        @include card-responsive(68.779%, 45.614%, 34.136%, 27.263%, 22.698%, 19.461%);
    }
    &.cards-3 {
        @include card-responsive(137.552%, 45.614%, 34.136%, 27.263%, 22.698%, 19.461%);
    }
    &.cards-4 {
        @include card-responsive(137.552%, 91.23%, 34.136%, 27.263%, 22.698%, 19.461%);
    }
    &.cards-5 {
        @include card-responsive(206.341%, 91.23%, 68.271%, 27.263%, 22.698%, 19.461%);
    }
    &.cards-6 {
        @include card-responsive(206.341%, 91.23%, 68.271%, 54.53%, 22.698%, 19.461%);
    }
    &.cards-7 {
        @include card-responsive(275.113%, 136.844%, 68.271%, 54.53%, 45.398%, 19.461%);
    }
    &.cards-8 {
        @include card-responsive(275.113%, 136.844%, 68.271%, 54.53%, 45.398%, 38.919%);
    }
    &.cards-9 {
        @include card-responsive(343.895%, 136.844%, 102.407%, 54.53%, 45.398%, 38.919%);
    }
    &.cards-10 {
        @include card-responsive(343.895%, 182.46%, 102.407%, 54.53%, 45.398%, 38.919%);
    }
    &.cards-11,
    &.cards-12 {
        @include card-responsive(412.632%, 182.46%, 102.407%, 81.8%, 45.398%, 38.919%);
    }
    &.cards-13,
    &.cards-14 {
        @include card-responsive(481.453%, 228.063%, 136.533%, 81.8%, 68.096%, 38.919%);
    }
}