@import "../colors.scss";
@import "../responsive.scss";

$navbar-small-height: 4rem;
$navbar-medium-height: 4rem;
$navbar-large-height: 3rem;

@mixin navBarPageTopPadding {
    @include responsive(padding-top, $navbar-small-height, $navbar-medium-height, $navbar-large-height);
}

.nav-bar {
    z-index: 100;
    display: block;
    position: fixed;
    width: 100%;
    overflow: hidden;
    @include responsive(height, $navbar-small-height, $navbar-medium-height, $navbar-large-height);

    .background-image {
        margin: -6px;
        filter: blur(4px) brightness(0.4);
        width: calc(100% + 12px);
        height: calc(100% + 12px);
        object-fit: cover;
        position: absolute;
    }

    ul {
        position: relative;
        display: flex;
        @include container;
        @include responsive(flex-wrap, wrap, wrap, nowrap);
    }

    li {
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    .home {
        flex-grow: 1;
        @include responsive(width, calc(100% - 4rem), calc(100% - 4rem), auto);

        img {
            position: absolute;
            height: 1.8rem;
            width: 2.5rem;
            top: 50%;
            transform: translateY(-50%);
            left: 0.5rem;
        }

        a {
            position: relative;
            color: $color-2;
            font-weight: 700;
            font-size: 1.2rem;
            height: 100%;
            @include responsive(padding, 0.5rem 0.5rem 0.5rem 3.4rem, 0.5rem 0.5rem 0.5rem 3.4rem, 0.9rem 0.8rem 0.9rem 3.5rem);
        }
    }

    li:not(.home) a {
        position: relative;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 0.8rem;
        @include responsive(padding, 0.5rem 0.5rem, 0.5rem 0.5rem, 1.1rem 0.8rem);

        &.abbreviated {
            display: none;
        }
        @media (max-width: 520px) {
            &:not(.abbreviated) {
                display: none;
            }
            &.abbreviated {
                display: inline;
            }
        }
    }

    li.is-current-page a::after,
    li:not(.home) a:hover::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-3px);
        border-bottom-width: 4px;
        border-bottom-style: solid;
    }

    .keyboards-and-dice a {
        color: $color-2;
        font-weight: 700;
        font-size: 1.2rem;

        &::after {
            border-bottom-color: $color-2;
        }
    }

    .card-image-gallery a {
        color: $color-3-light;

        &::after {
            border-bottom-color: $color-3-light;
        }
    }

    .faq a {
        color: $color-4-light;

        &::after {
            border-bottom-color: $color-4-light;
        }
    }

    .draft a {
        color: $color-5-light;

        &::after {
            border-bottom-color: $color-5-light;
        }
    }

    .downloads a {
        color: $color-6-light;

        &::after {
            border-bottom-color: $color-6-light;
        }
    }
}
