@import "../../../components/responsive.scss";
@import "../../../components/colors.scss";
@import "../../../components/navBars/TerraNavBar.scss";

.draft-page {
    @include terraNavBarPageTopPadding;
    @include container;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    padding-bottom: 0.5rem;
    position: relative;

    h1 {
        text-align: center;
        font-weight: 700;
        font-size: 1.4rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    p {
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        line-height: 1.2;

        small {
            font-size: 0.8rem;
            font-weight: 300;
        }
    }
}
