@import "../DraftMixins.scss";

.booster-loading-zone {
    @include draft-grid;
    @include booster-grid;
    align-items: start;
    position: relative;
    margin-bottom: 0.6rem;

    .content {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%) translateY(-6rem);
    }

    .loading-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
