@import "../colors.scss";

.rotating-loading-icon {
    font-size: 10rem;
    color: scale-color($color-1, $alpha: -30%);
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
