@import "../../../components/responsive.scss";
@import "../../../components/colors.scss";
@import "../../../components/mixins.scss";
@import "../../../components/navBars/TerraNavBar.scss";

.darkham-downloads-page {
    @include blurred-page-background(0.45);

    .container {
        @include container;
        line-height: 1.2;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        padding-bottom: 0.5rem;
        position: relative;
        color: $color-1;
    }

    h1 {
        text-align: center;
        font-weight: 700;
        font-size: 1.4rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-weight: 600;
        font-size: 1.2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    b {
        font-weight: bold;
    }

    p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .mono-space {
        width: 100%;
        font-family: monospace;
        font-size: 0.95rem;
        border: solid 1px scale-color($color-1, $alpha: -20%);
        padding: 0 0.2rem;
        border-radius: 0.2rem;
    }

    ol {
        list-style-type: decimal;
        list-style-position: outside;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 1.4rem;
    }

    li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    a {
        color: $color-1;
        font-weight: 600;
    }

    blockquote {
        margin: 1rem;
        padding: 0.5rem 1rem;
        background-color: scale-color($color-4-light, $alpha: -80%);
    }
}
