@import "../../../components/responsive.scss";
@import "../../../components/mixins.scss";
@import "../../../components/navBars/StcNavBar.scss";

.card-image-gallery-page {
    @include responsive(padding-bottom, 4rem, 2.5rem);
    position: relative;
    @include blurred-page-background(0.2);

    .container {
        @include responsive(width, 100%, 100%, $large-container-width);
        @include responsive(margin, 0, 0 auto);
        text-align: center;
        color: $color-1;
        position: relative;
        @include responsive(padding-top, $stc-navbar-small-height, $stc-navbar-medium-height, $stc-navbar-large-height);
    }

    .num-of-cards {
        font-weight: 300;
        font-size: 0.8rem;
        @include responsive(margin-bottom, 1.1rem, 1.1rem, 1.5rem);
    }

    .card-grid {
        @include responsive(width, 98%, 98%, 989px);
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .card-lazy-wrapper {
        @media (max-width: 659px) {
            width: 49.25%;
            padding-bottom: 49.25% * $card-height-width-ratio;
            margin-right: 1.5%;
            margin-bottom: 1.5%;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
        @media (min-width: 660px) and (max-width: 919px) {
            width: 32.75%;
            padding-bottom: 32.75% * $card-height-width-ratio;
            margin-right: 0.875%;
            margin-bottom: 0.875%;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
        @media (min-width: 920px) {
            width: 24.5%;
            padding-bottom: 24.5% * $card-height-width-ratio;
            margin-right: 0.666%;
            margin-bottom: 0.666%;
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }

    .filter-pane {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        justify-content: space-around;
        bottom: 0;
        @include responsive(width, 330px, $medium-container-width, $medium-container-width);
        display: flex;
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
        padding: 0.2rem;
        @include blurred-background-image;

        .color-filters,
        .rarity-filters {
            position: relative;
        }

        .color-filters svg {
            display: block;
            width: 1rem;
            height: 1rem;
        }

        .rarity-filters svg {
            display: block;
            height: 1rem;
            width: 1.38rem;
        }

        button {
            margin: 0.1rem;
            @include responsive(padding, 0.25rem 0.4rem, 0.4rem 0.5rem);
            background: none;
            color: $color-1;
            border-radius: 0.3rem;
            border: 1px $color-1 solid;
            line-height: 1rem;

            img {
                display: block;
            }

            &:hover {
                cursor: pointer;
                background: scale-color($color-1, $alpha: -85%);
            }

            &:focus {
                border-color: $color-3-strong;
                outline: none;
            }

            &.selected {
                background: scale-color($color-1, $alpha: -70%);
            }

            &:active {
                background: scale-color($color-1, $alpha: -55%);
            }
        }
    }
}
