@import "../mixins.scss";

.card-lazy-wrapper {
    position: relative;    

    .card-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.card-image {
    @include card-image-corners;
}
