@import "../../../components/colors.scss";
@import "../../../components/mixins.scss";
@import "../../../components/responsive.scss";
@import "../../../components/navBars/TerraNavBar.scss";

.terra-not-found-page {
    position: relative;
    @include blurred-background-image(0.2);

    .container {
        @include container;
        @include terraPageHeightMinusMainNavBar;
        color: $color-1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0rem 1rem 3.5rem 1rem;
    }

    svg {
        height: 13rem;
        width: 14rem;
    }

    h1 {
        font-weight: 700;
        font-size: 1.4rem;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }

    a {
        font-weight: 700;
        font-size: 1.4rem;
        margin-bottom: 0.5rem;

        @include inverting-link;
    }
}