@import "../../components/colors.scss";
@import "../../components/mixins.scss";

.drafts-table {
    width: 100%;

    th {
        font-weight: 600;
    }

    th,
    td {
        border: 2px solid darken($color-2, 30%);
        padding: 0.2rem;
        text-align: center;
        vertical-align: middle;
    }

    .no-drafts {
        padding: 1.6rem 0.2rem;
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 200;
        color: lighten($color-1, 20%);

        .emoji {
            font-style: normal;
        }
    }

    .draft-id {
        padding: 0;
    }

    .draft-id > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .mono-space {
        width: 100%;
        font-family: monospace;
        font-size: 1rem;
        margin: 0.5rem 0 0.3rem;
    }

    .player-pill {
        background-color: darken($color-2, 5%);

        &.current-user {
            background-color: $color-5-light;
        }
    }

    .controls button {
        @include button;
        font-size: 1rem;
        padding: 0.2rem;
        margin: 0 0.1rem;

        &.delete svg {
            fill: crimson;
        }
    }
}
