@import "../../components/responsive.scss";
@import "../../components/colors.scss";
@import "../../components/mixins.scss";
@import "../../components/navBar/NavBar.scss";

@mixin draft-view-h2 {
    text-align: left;
    font-weight: 700;
    font-size: 1.4rem;

    small {
        font-size: 1.2rem;
        font-weight: 500;
        color: lighten($color-1, 30%);
    }
}

@mixin draft-heading-div {
    width: 98%;
    padding: 0 0.1rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

@mixin card-responsive($tiny, $small, $medium, $large, $very-large, $super-large) {
    @media (max-width: 659px) {
        padding-bottom: calc(#{$tiny} - 2px);
    }
    @media (min-width: 660px) and (max-width: 919px) {
        padding-bottom: calc(#{$small} - 2px);
    }
    @media (min-width: 920px) and (max-width: 1223px) {
        padding-bottom: calc(#{$medium} - 2px);
    }
    @media (min-width: 1223px) and (max-width: 1535px) {
        padding-bottom: calc(#{$large} - 2px);
    }
    @media (min-width: 1536px) and (max-width: 1839px) {
        padding-bottom: calc(#{$very-large} - 2px);
    }
    @media (min-width: 1840px) {
        padding-bottom: calc(#{$super-large} - 2px);
    }
}

@mixin match-booster-height-loading-div {
    position: relative;
    display: inline-flex;
    margin-bottom: 0.6rem;
    width: 98%;

    .loading-spinner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &.cards-1 {
        @include card-responsive(68.779%, 45.614%, 34.136%, 27.263%, 22.698%, 19.461%);
    }
    &.cards-2 {
        @include card-responsive(68.779%, 45.614%, 34.136%, 27.263%, 22.698%, 19.461%);
    }
    &.cards-3 {
        @include card-responsive(137.552%, 45.614%, 34.136%, 27.263%, 22.698%, 19.461%);
    }
    &.cards-4 {
        @include card-responsive(137.552%, 91.23%, 34.136%, 27.263%, 22.698%, 19.461%);
    }
    &.cards-5 {
        @include card-responsive(206.341%, 91.23%, 68.271%, 27.263%, 22.698%, 19.461%);
    }
    &.cards-6 {
        @include card-responsive(206.341%, 91.23%, 68.271%, 54.53%, 22.698%, 19.461%);
    }
    &.cards-7 {
        @include card-responsive(275.113%, 136.844%, 68.271%, 54.53%, 45.398%, 19.461%);
    }
    &.cards-8 {
        @include card-responsive(275.113%, 136.844%, 68.271%, 54.53%, 45.398%, 38.919%);
    }
    &.cards-9 {
        @include card-responsive(343.895%, 136.844%, 102.407%, 54.53%, 45.398%, 38.919%);
    }
    &.cards-10 {
        @include card-responsive(343.895%, 182.46%, 102.407%, 54.53%, 45.398%, 38.919%);
    }
    &.cards-11,
    &.cards-12 {
        @include card-responsive(412.632%, 182.46%, 102.407%, 81.8%, 45.398%, 38.919%);
    }
    &.cards-13,
    &.cards-14 {
        @include card-responsive(481.453%, 228.063%, 136.533%, 81.8%, 68.096%, 38.919%);
    }
}

.single-draft-page {
    @include navBarPageTopPadding;
    padding-bottom: 0.5rem;
    position: relative;
    text-align: center;

    h1 {
        text-align: center;
        font-weight: 700;
        font-size: 1.4rem;
        margin-top: 1rem;
        margin-bottom: 0.8rem;

        small {
            font-size: 1.2rem;
            font-weight: 500;
            color: lighten($color-1, 30%);
        }
    }

    h2 {
        @include draft-view-h2;
    }

    .player-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0.8rem;

        .player-pill {
            background-color: darken($color-2, 5%);

            &.current-user {
                background-color: $color-5-light;
            }
        }
    }

    .submit-pick {
        @include button;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 0.4rem 0.8rem;
        color: $color-2;
        background-color: $color-5-strong;
        margin: 0 0.4rem;
    }

    .pack-heading {
        @include draft-heading-div;
        position: relative;
        margin: 0.5rem 0 1rem;

        .submit-pick {
            position: absolute;
            margin: 0;
            top: 50%;
            @include responsive(font-size, 1.1rem, 1.4rem);
            @include responsive(right, 0, 50%);
            @include responsive(transform, translateY(-50%), translate(50%, -50%));
        }
    }

    .booster-loading {
        @include match-booster-height-loading-div;
    }
}
