@import "./Draft.scss";
@import "../../components/mixins.scss";
@import "../../components/colors.scss";

.ready-to-start-view {
    p {
        margin: 2rem;
        margin-right: auto;
        margin-left: auto;
        width: 98%;
        line-height: 1.4rem;

        .mono-space {
            font-family: monospace;
            font-size: 1rem;
            padding: 0.1rem 0;
            margin-left: 0.2rem;
        }
    }

    .copy {
        @include button;
        position: absolute;
        font-size: 1rem;
        padding: 0.2rem;
        margin: 0 0.2rem;
        transform: translateY(0.1rem);

        svg {
            display: block;
        }
    }

    .start-draft {
        @include button;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 0.4rem 0.8rem;
        color: $color-2;
        background-color: $color-5-strong;
        margin: 0 0.4rem;
    }
}
