@import "./Draft.scss";

.invite-your-friends {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.2rem;
    width: 98%;
    line-height: 1.4rem;

    .mono-space {
        font-family: monospace;
        font-size: 1rem;
        padding: 0.1rem 0;
        margin-left: 0.2rem;
    }
}

.start-draft {
    @include bigButton;
}
