@import "./Draft.scss";
@import "../../components/mixins.scss";
@import "../../components/colors.scss";

.invite-your-friends {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.2rem;
    width: 98%;
    line-height: 1.4rem;

    .mono-space {
        font-family: monospace;
        font-size: 1rem;
        padding: 0.1rem 0;
        margin-left: 0.2rem;
    }

    .copy {
        @include button;
        position: absolute;
        font-size: 1rem;
        padding: 0.2rem;
        margin: 0 0.2rem;
        transform: translateY(0.1rem);

        svg {
            display: block;
        }
    }
}

.pill-button.start-draft {
    @include bigButton;
    background-color: $color-5-strong;
}
